<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Influencer-Finder</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="influencerFinder.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"></script>
</head>
<body>
    
  <!-- !HEADER -->
  <header>

    <!-- *Navbar -->
    <nav class="navBar">
      <div class=" navItem navBrand">
        <img class="brandLogo" src="../Assets/Logo and Icons/brandLogo3.svg" alt="">
        <a class="brandName" href="index.html" id="nav-text">Influera</a>
      </div>
      <ul class="navItem navLinks">
        <li class="navLink">
          <a href="/index.html#services">Services</a>
        </li>
        <li class="navLink">
          <a href="/index.html#team">Team</a>
        </li>
        <li class="navLink">
          <a href="/index.html#contact">Contact</a>
        </li>
      </ul>
      <div class="navItem navButtons">
        <input type="button" class="navButton" value="Logout" id="btnLogout" onclick="doLogout();">
      </div>
    </nav>
  </header>
  <!-- ------------------------------------------------------------- -->
  <div class="container" >
    <div class="row" >
      <div style="color: #1071A2; font-size: 50px;  ">Find Influencers</div>
    </div>
  </div>
    <!--Form-->
     
    <div class="row">
    <div class="col-md-10" id="form">
   <form>
      <div class="row">
        <div class="col-md-4">
          <label  class="form-label" >Field</label>
      <select class="form-select" ng-model="selfield" ng-change="doShowSel();" multiple>
        <option value="none">Select</option>
        <option value="Fashion">Fashion/lifestyle</option>
        <option value="Travel">Travel</option>
        <option value="Food">Food</option>
        <option value="Beauty">Beauty</option>
        <option value="Fitness">Fitness</option>
        <option value="Tech">Tech</option>
        <option value="Edutech">Edutech</option>
        <option value="Parenting">Parenting</option>
        <option value="Finance">Finance</option>
        <option value="Gaming">Gaming</option>
      </select> 
        </div>
        <div class="col-md-4">
          <label for="inputCity" class="form-label">City</label>
        <select class="form-select" ng-model="selCity" >

          <option ng-repeat="obj in jsonArrayCity" value="{{obj.city}}" >{{obj.city}}</option>
      </select>
        </div>
      </div>
    <!----------------------------------------------------------------------->
 <center>  <button type="submit" class="btn btn-primary" id="buttons" ng-click="doShowSelAll();">Find</button> </center> 
    <!---------------------------------------------------------------------->
    <hr>
  <center>  <div class="col-md-4">
      <label  class="form-label">Name</label>
      <input type="text" class="form-control" ng-model="name">
    </div>
      <!------------------------------------------------------------------------------>
      <button type="submit" class="btn btn-primary" id="buttons" ng-click="doShowName();">Search By Name</button>
      <hr>
    </center>
    <!------------------------------------------------------------------------------->
    <div class="container">
      <div class="row">
          <div class="col-md-3" ng-repeat="obj in jsonArrayAll" style="background-color: #EAF7FD;">
              <div class="card mt-5" style="background-color: #EAF7FD;">
                <center>  <img src="{{obj.picpath}}" width="75%" height="75%" ;></center>
                  <div class="card-body">
                    <h5 class="card-title">{{obj.iname}}</h5>
                    <h5 class="card-title">{{obj.gender}}</h5>
                    
                 <a href="https://www.instagram.com/{{obj.insta}}"> <center> <img src="pics/instagram.svg" alt="" width="30px" height="30px"> </center> </a> 
                    <br>
                 <center> <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#more-info-model" ng-click="doShowMoreinfo($index);">More-Info</button> </center>
                  </div>
                </div>
          </div>
      </div>
  </div>
    
  </form> 
</div>
</div>

<!--Linking Modal-->
<div class="modal fade" id="more-info-model" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="color: purple;" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Influencer Details</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" >
          <form action="" method="post"></form>
              
              <!-- <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" name="txtPwd_login" id="txtPwd_login">
              </div> -->
              <div class="mb-3">
                <img src="uploads/{{jsonArrayMoreinfo.picpath}}" alt="" width="50%" height="50%" style="border-radius: 50%;">
                {{jsonArrayMoreinfo.other}}
              </div>
              <hr>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">FullName :</label>
                {{jsonArrayMoreinfo.iname}}
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">DOB :</label>
                {{jsonArrayMoreinfo.dob}}
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1"  class="form-label">Email :</label>
                {{jsonArrayMoreinfo.email}}
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">City :</label>
                {{jsonArrayMoreinfo.city}}
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Contact :</label>
                {{jsonArrayMoreinfo.contact}}
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Address :</label>
                {{jsonArrayMoreinfo.address}}
              </div>
              <hr>
              <div>
                <a href="https://www.instagram.com/{{jsonArrayMoreinfo.insta}}"> <center> <img src="pics/instagram.svg" alt="" width="30px" height="30px"> </center> </a> 
                
              </div>
              <div >
                
                <a href="https://www.youtube.com//{{jsonArrayMoreinfo.yt}}"> <center> <img src="pics/youtube.svg" alt="" width="30px" height="30px"> </center> </a> 
              </div>
              <hr>
              <div>
               <center> <input type="button" id="btnConnect" class="btn btn-outline-secondary" value="Connect" ng-click="doSendEmail(jsonArrayMoreinfo.email);"></center>
              </div>
              </form>
      </div>
      
    </div>
  </div>
</div>
<!-- !FOOTER -->
<footer class="footer">
  <div class="footerSection">
    <h3 class="footerSectionHeading">Get in Touch</h3>
    <p>Don't miss any updates of our new Website</p>
    <div class="textInputWrapper">
      <input placeholder="Email" type="text" class="textInput">
    </div>
    <button 
        type="button" 
        class="footerButton" 
        id="buttons"
    >
      Send
    </button>
  </div>
  <div class="footerSection">
    <h3 class="footerSectionHeading">Help & Support</h3>
    <ul class="footerList list">
        <li><a href="#">Customer Care</a></li>
        <li><a href="#">Terms & Conditions</a></li>
        <li><a href="#">Documentation</a></li>
        <li><a href="#">Support Policy</a></li>
        <li><a href="#">Privacy</a></li>
    </ul>
  </div>
  <div class="footerSection">
    <h3 class="footerSectionHeading">Reach us</h3>
    <div class="reachUsMap">
      <iframe 
        src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3447.7542952132058!2d74.93402787135358!3d30.215559433750002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMzDCsDEzJzA3LjAiTiA3NMKwNTUnNTguOSJF!5e0!3m2!1sen!2sin!4v1722438541250!5m2!1sen!2sin"
        width="500"
        height="200"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      >
      </iframe>
    </div>
  </div>
</footer>
<!--Linking it to script.js-->
<script src="influencerFinder.js"></script>
</body>
</html>